__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

models/*.pth
*.weights
*.onnx

classifier_data/
val2017/
data/
*.zip
*.tar.gz

.DS_Store
.DS_Store?
._*
Thumbs.db
src/test/
result_output.jpg
detected_errors/